<div class='footer-left'>

	<h3>About</h3>	
	<p>Did you know you can write your own about section just like this one? It's really easy. Navigate to Appearance → Widgets and create a new Text Widget. Now move it into the "Footer Left" sidebar.</p>	

</div>

<div class='footer-mid'>

	<h3>Pages</h3>
	<p>Did you know you can write your own about section just like this one? It's really easy. Navigate to Appearance → Widgets and create a new Text Widget. Now move it into the "Footer Left" sidebar.</p>

</div>

<div class='footer-right'>

	<h3>Search</h3>
	<p>A search box should be here</p>	

</div>
