<!DOCTYPE html>
<html lang="{{=T.accepted_language or 'en'}}" class="no-js"><!-- no-js need it for modernzr -->

  <head>
      {{include 'head.html'}}
  </head>
  
  <body>
      <div id='header'>   
          {{include 'header.html'}}
      </div>

<!-- floating icon -->
	<a style='position:fixed;' href="http://skapes.org">
	<img  src="/{{=request.application}}/static/images/130px_logo_white_alpha.png"/>
	<p style='position:fixed; top:160px;'> The dotSkapes Project </p>
	</a>
      
      <div id='content'>
          {{include}}
      </div>
      
      <div id='footer'>
          {{include 'footer.html'}}
      </div>
      
	<div class='copyright'>The dotSkapes Project &copy</div>

  </body>
  
</html>
