body {
	margin: 0 auto;
	font-family: Helvetica, sans-serif;
	background: #555;
	color: white;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

a:visited{
	color: white;
}

#content {
	width: 800px;
	margin: 0 auto;
}

#footer {
	background: #333;
	width: 100%;
}

#header {
	background: #333;
	width: 100%;
}

.copyright {
	width: 800px;
	margin: 10px auto;
}
